In [1]:
import pandas as pd

In [3]:
data = pd.read_csv("ODI dataset (cricket world cup).csv")

In [4]:
data.head()

,Scorecard,Team 1,Team 2,Winner,Margin,Ground,Match Date
0,ODI # 1,Australia,England,Australia,5 wickets,Melbourne,"Jan 5, 1971"
1,ODI # 2,England,Australia,England,6 wickets,Manchester,"Aug 24, 1972"
2,ODI # 3,England,Australia,Australia,5 wickets,Lord's,"Aug 26, 1972"
3,ODI # 4,England,Australia,England,2 wickets,Birmingham,"Aug 28, 1972"
4,ODI # 5,New Zealand,Pakistan,New Zealand,22 runs,Christchurch,"Feb 11, 1973"

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3932 entries, 0 to 3931
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Scorecard   3932 non-null   object
 1   Team 1      3932 non-null   object
 2   Team 2      3932 non-null   object
 3   Winner      3932 non-null   object
 4   Margin      3753 non-null   object
 5   Ground      3932 non-null   object
 6   Match Date  3932 non-null   object
dtypes: object(7)
memory usage: 215.2+ KB

In [5]:
data.isnull().sum()

Scorecard       0
Team 1          0
Team 2          0
Winner          0
Margin        179
Ground          0
Match Date      0
dtype: int64

In [13]:
data[data['Scorecard'] == "ODI # 50"]

,Scorecard,Team 1,Team 2,Winner,Margin,Ground,Match Date
49,ODI # 50,England,Pakistan,England,132 runs,Manchester,"May 24-25, 1978"

In [21]:
len(data[data['Ground'] == "Devonport"])

1

In [22]:
len(data[data['Winner'] == "Australia"])

555

In [23]:
len(data[data['Winner'] == data["Team 2"]])

1637